/* ul p {
    color: red;
}

ul {
    display: table;
    margin:auto;
    text-align: center;
    ;
} */

h1 {
    text-align: center;
}

.list-of-recipes {
    color: red;
    display: table;
    margin: auto;
    text-align: center;
}
.taco-ingredients {
    display: table;
    color: red;
    margin: auto;
    /* text-align: center; */
}

.taco-recipe-steps {
    display: table;
    color: darkgreen;
    margin: auto;
}.lasagna {
    align-self: center;
}